<a href="https://colab.research.google.com/github/nctlcnt/MyNotebooks/blob/main/ProblemSheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
data<-data.frame(town=c(0,1,1,0,2,3),country=c(2,0,3,0,0,1))
data

  town country
1 0    2
2 1    0
3 1    3
4 0    0
5 2    0
6 3    1